<!DOCTYPE html>
<html>
<head>
    <title>Preview Software</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/preview.css' %}">
</head>
<body>
    <header>
        <h2>Software Generator</h2>
    </header>
    <div class="container">
        <div class="software-info">
            <h3>Informações do Software</h3>
            <p id="software-id"><strong>ID:</strong> {{ software.id }}</p>
            <p id="software-name"><strong>Nome:</strong> {{ software.name }}</p>
            <p id="software-specs"><strong>Especificações:</strong> {{ software.specs }}</p>
        </div>
        <div class="preview-box">
            <h3>Preview</h3>
            <!-- <p>{{ preview_content }}</p> -->
            <div id="status-box">Aguardando atualização...</div>
            <div id="input-box" style="display: none;">
                <textarea id="prompt-input" rows="4" cols="50" placeholder="O que pode melhorar?"></textarea><br>
                <button onclick="sendUpdate()">Ajustar</button>
            </div>
            <script>
                function checkForUpdates(forceCheck = false) {
                    const update_interval = 5000; // 5 segundos
                    //const softwareId = document.getElementById('software-id').getAttribute('data-software-id');
                    const softwareId = '{{ software.id }}';
                    fetch(`/status?software_id=${softwareId}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            if (data.generation_finished && data.github_url == null) {
                                document.getElementById('status-box').innerHTML = 'Geração de Código finalizada.<br>Enviando código para o Github...';
                                setTimeout(checkForUpdates, update_interval);
                            } else if (data.generation_finished && data.github_url != null) {
                                let statusHTML = 'Geração de Código finalizada:<br><a href="' + data.github_url + '">' + data.github_url + '</a>';
                                if (data.deployment_status != null) {
                                    statusHTML += '<br>Deployment Status (Vercel): ' + data.deployment_status;
                                    if (data.vercel_url != null) {
                                        statusHTML += '<br>Vercel URL: <a href="' + data.vercel_url + '">' + data.vercel_url + '</a>';
                                    }
                                    if (data.deployment_status === 'READY') {
                                        document.getElementById('input-box').style.display = 'block';
                                        if (forceCheck) {
                                            setTimeout(checkForUpdates(true), update_interval);
                                        }
                                    } else {
                                        setTimeout(checkForUpdates, update_interval);
                                    }
                                }
                                document.getElementById('status-box').innerHTML = statusHTML;
                            } else {
                                // Se ainda não estiver pronto, verifique novamente após um delay
                                setTimeout(checkForUpdates, update_interval);
                            }
                        })
                        .catch(error => console.error('Erro ao buscar atualizações:', error));
                }

                function sendUpdate() {
                    const softwareId = '{{ software.id }}';
                    const prompt = document.getElementById('prompt-input').value;
                    fetch(`/update?software_id=${softwareId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ prompt: prompt })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        document.getElementById('input-box').style.display = 'none';
                        document.getElementById('prompt-input').value = '';
                        setTimeout(checkForUpdates(true), 5000);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                }
        
                // Iniciar a verificação de atualizações após a carga da página
                window.onload = checkForUpdates;
            </script>
        </div>
    </div>
</body>
</html>