<!DOCTYPE html>
<html>
<head>
    <title>Preview Software</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/preview.css' %}">
</head>
<body>
    <header>
        <h2>Software Generator</h2>
    </header>
    <div class="container">
        <div class="software-info">
            <h3>Informações do Software</h3>
            <p id="software-id"><strong>ID:</strong> {{ software.id }}</p>
            <p id="software-name"><strong>Nome:</strong> {{ software.name }}</p>
            <p id="software-specs"><strong>Especificações:</strong> {{ software.specs }}</p>
        </div>
        <div class="preview-box">
            <h3>Preview</h3>
            <!-- <p>{{ preview_content }}</p> -->
            <div id="status-box">Aguardando atualização...</div>
            <script>
                function checkForUpdates() {
                    const update_interval = 5000 // 5 segundos
                    //const softwareId = document.getElementById('software-id').getAttribute('data-software-id');
                    const softwareId = '{{ software.id }}';
                    fetch(`/status?software_id=${softwareId}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.generation_finished && data.github_url == null) {
                                document.getElementById('status-box').innerHTML = 'Geração de Código finalizada.<br>Enviando código para o Github...';
                                setTimeout(checkForUpdates, update_interval);
                            } else if (data.generation_finished && data.github_url != null) {
                                document.getElementById('status-box').innerHTML = 'Geração de Código finalizada:<br><a href="' + data.github_url + '">' + data.github_url + '</a>';
                            } else {
                                // Se ainda não estiver pronto, verifique novamente após um delay
                                setTimeout(checkForUpdates, update_interval);
                            }
                        })
                        .catch(error => console.error('Erro ao buscar atualizações:', error));
                }
        
                // Iniciar a verificação de atualizações após a carga da página
                window.onload = checkForUpdates;
            </script>
        </div>
    </div>
</body>
</html>